{% extends "base.html" %}


{% block content %}
    <div id="page1" class="footer-page">
        <div class="container mt-6">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10 text-center">
                    <h1 class="footer-title" id="about-us-title">About YouDownloader</h1>

                    <h4 id="1-h4">About Us</h4>
                    <p id="1-p">At YouDownloader, we are passionate about providing users with a seamless and efficient way to download their favorite videos from YouTube. Our platform is designed to empower users with the ability to access and enjoy their desired content offline, anytime, anywhere.</p>

                    <h4 id="2-h4">Our Mission</h4>
                    <p id="2-p">Our mission is simple: to make video downloading easy, secure, and accessible to everyone. We believe that online content should be available to users in a manner that suits their preferences and schedules. YouDownloader was created to give users the freedom to download videos for personal, non-commercial use, whether it's for educational purposes, entertainment, or simply to watch offline without relying on an internet connection.</p>

                    <h4 id="3-h4">Get Started Today</h4>
                    <p id="3-p">We invite you to experience the convenience and versatility of YouDownloader. Start downloading your favorite YouTube videos and discover a new way to enjoy online content. Whether it's educational videos, music, tutorials, or inspiring content, YouDownloader is here to enhance your digital experience.</p>
                    
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block body_div %}
{% endblock %}
