{% extends "base.html" %}


{% block content %}
    <div id="page1" class="footer-page bigger-page privacy-page">
        <div class="container mt-6">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10 text-center">
                    <h1 class="footer-title" id="privacy-title">Privacy Policy</h1>

                    <h4 id="3-1-h4">Privacy Policy</h4>
                    <p id="3-1-p">Last updated: 08/03/2023 <br>

                    At YouDownloader ("we," "us," or "our"), we take your privacy seriously. This Privacy Policy explains how we handle user information when you access and use our website and services. We want to assure you that we do not collect any personal data from our users.</p>

                    <h4 id="3-2-h4">Information We Do Not Collect</h4>
                    <p id="3-2-p">Personal Information: We do not collect any personally identifiable information, such as names, email addresses, or contact details. You can use YouDownloader anonymously, and we do not request or store any personal data.
                    <br>
                    Usage Data: We do not gather any usage data, including IP addresses, browser types, or operating system information. Your activity on YouDownloader is not tracked or recorded in any way.</p>
                    
                    <h4 id="3-3-h4">No Data Sharing or Third-Party Services</h4>
                    <p id="3-3-p">Since we do not collect any user data, we have no information to share with third-party services. You can use YouDownloader without concerns about your information being shared with others.</p>
                    
                    <h4 id="3-4-h4">Cookies and Tracking Technologies</h4>
                    <p id="3-4-p">YouDownloader may use cookies and similar tracking technologies to enhance your user experience and improve our services. Cookies are small data files stored on your device that allow us to recognize and remember your preferences. You can modify your browser settings to refuse cookies or notify you when cookies are being sent. Please note that disabling cookies may impact some features of YouDownloader.</p>

                    <h4 id="3-5-h4">Children's Privacy</h4>
                    <p id="3-5-p">YouDownloader is not intended for use by individuals under the age of 13. We do not knowingly collect personal information from children under 13. If you are a parent or guardian and believe that your child has provided us with personal information, please contact us, and we will take appropriate action to remove the information.</p>

                    <h4 id="3-6-h4">Changes to This Privacy Policy</h4>
                    <p id="3-6-p">We reserve the right to update or modify this Privacy Policy at any time. Changes will be posted on this page with the updated "Last updated" date. Please review this page periodically to stay informed about our data practices. Your continued use of YouDownloader after any changes to this Privacy Policy constitutes your acceptance of the updated terms.</p>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_div %}
{% endblock %}