{% extends "base.html" %}


{% block content %}
    <div id="page1" class="footer-page bigger-page">
        <div class="container mt-6">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8 col-sm-10 text-center">
                    <h1 class="footer-title" id="terms-title">Terms of Service</h1>
                    <h4 id="2-1-h4">Terms of Service ("ToS")</h4>
                    <p id="2-1-p">Welcome to YouDownloader! These terms and conditions govern your use of our website and services. By using YouDownloader, you agree to be bound by the following terms. Please read them carefully.</p>

                    <h4 id="2-2-h4">Acceptance of Terms</h4>
                    <p id="2-2-p">By accessing or using YouDownloader, you acknowledge that you have read, understood, and agree to be bound by these Terms of Service. If you do not agree with any part of these terms, please refrain from using our services.</p>

                    <h4 id="2-3-h4">Service Description</h4>
                    <p id="2-3-p">YouDownloader is a platform that allows users to download videos from YouTube. Our services are intended for personal, non-commercial use only.</p>

                    <h4 id="2-4-h4">Copyright and Intellectual Property</h4>
                    <p id="2-4-p">YouDownloader respects the intellectual property rights of others, and users are expected to do the same. You may not use our services to download copyrighted material unless you have permission from the content owner or the material is in the public domain.</p>

                    <h4 id="2-5-h4">User Conduct</h4>
                    <p id="2-5-p">a. You must be at least 13 years old to use YouDownloader.

                        b. You agree not to use YouDownloader for any unlawful purpose or in violation of any applicable laws.
                        
                        c. You shall not attempt to disrupt the integrity or security of our services or any related systems.
                        
                        d. You are solely responsible for the content you download using YouDownloader, and you assume all risks associated with the use of downloaded materials.</p>

                    <h4 id="2-6-h4">Modification of Terms</h4>
                    <p id="2-6-p">We reserve the right to update or modify these terms at any time without prior notice. It is your responsibility to review the terms periodically. Continued use of YouDownloader after any changes constitutes acceptance of the revised terms.</p>
                    
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_div %}
{% endblock %}
